include mixins/ledcode
include mixins/eeprom
include mixins/field
include mixins/postLink
include mixins/timeline
include mixins/message
include mixins/photo

doctype html
html
  head
    include layout/head.pug
  body
    include layout/navigation.pug

    block content

    script(type="text/javascript" src='/javascripts/jquery-3.2.1.min.js')
    script(type="text/javascript" src='/javascripts/ledcode.js')
    script(type="text/javascript" src='/javascripts/app.js')

    block scripts
