@import './variables';
@import 'bulma/bulma';
@import './modules/timeline';

.navbar + .container {
    margin-top: 2em;
}

.container.narrow {
    max-width: 500px;
}

button.is-block {
    width: 100%;
}

.timeline .timeline-item {
    padding-bottom: 0;

    &::before {
        top: calc(50% - 0.4rem);
    }

    &.is-without-marker::before {
      display: none;
    }

    .timeline-content {
        padding: 0.3em 2em;
        font-size: 11px;

        .heading {
            margin-bottom: 0;

            span {
                padding-right: 1em;

                &.delta {
                    font-size: 1.3em;
                }
            }
        }
    }
}
