extends ../blank

block content
  section.hero.is-fullheight.is-primary.is-bold
    .hero-body
      .container.has-text-centered
        a(href='/users')
          img(src='images/logo-ledcoin.svg')
