mixin message(message, header, style)
  .message(class=`is-${style}`)&attributes(attributes)
    if header
      .message-header= header
    .message-body
      if message
        = message
      if block
        block
