
+field('firstName', 'First name')
+field('lastName', 'Last name')
+field('username', 'Username')
+field('photo', 'Photo')
+field('dateOfBirth', 'DOB')
+field('walletId', 'Wallet ID')
br
hr
br
+field('password', 'Password', 'Keep empty if you don\'t want to change password')(type='password' value='')
