extends ../layout

block content
  .container
    table.table.is-fullwidth
      thead
        tr
          th ID
          th First name
          th Last name
      tbody
        each user in users
          tr
            td= user.$loki
            td= user.firstName
            td
              a(href=`users/${user.$loki}`)= user.lastName
