nav.navbar.has-shadow
  .navbar-brand
    a.navbar-item(href='/')
      img.is-64x64(src='/images/lstme_cutout.svg', alt='LSTME')

  .navbar-start
    a.navbar-item(href='/users') Users
    a.navbar-item(href='/bounties') Bounties
