nav.navbar.has-shadow
  .navbar-brand
    a.navbar-item(href='/')
      img.is-64x64(src='/images/logo-ledcoin.svg', alt='LSTME')

  .navbar-start
    a.navbar-item(href='/users') Users
    a.navbar-item(href='/bounties') Bounties
    a.navbar-item(href='/transactions') Transactions
    a.navbar-item(href='/terminals') Terminals
