extends ../layout

block content
  .container
    table.table.is-fullwidth
      thead
        tr
          th Key
          th Address
          th Port
      tbody
        each terminal, key in terminals
          tr(data-href=`terminals/${key}`)
            td= terminal.key
            td= terminal.socket.remoteAddress
            td= terminal.socket.remotePort
