
+field('description', 'Description')
+field('value', 'Value', "!! THIS VALUE SHOULD NOT BE CHANGED ONCE PUBLISHED !!")
+field('code', 'Code')
+field('targetId', 'Target wallet ID', 'Use 255 for any walletId')
+field('urlKey', 'URL key', 'Bounty will be available at /bounties/secret/:urlKey')
