extends ../layout

block content
  .container
    - result = result ? result : {value: bounty}

    form(method='POST' action=`/bounties/${bounty.$loki}`)
      p.title Edit bounty

      +field('description', 'Description')
      +field('value', 'Value')(readonly=true value=bounty.value)
      +field('code', 'Code')
      +field('target', 'Target wallet ID', 'Use 255 for any walletId')
      +field('urlKey', 'URL key', 'Bounty will be available at /bounties/secret/:urlKey')

      button.button.is-primary(type='submit') SAVE
